html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body{
	-moz-user-select: none;
	font-family: 'Roboto Slab', serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	cursor: default;
}

.center{
    text-align: center;
}

#Login_img{
	width: 40%;
	height: auto;
	padding: 0;
	margin: 15px 0 15px 30%;
}

.Nav_elem{
	float: none;
	list-style-type: none;
	margin: 5px 0 5px 0;
	padding: 0;
	transition: all 0.3s ease-out;
	color: #000000;
	height: 20px;
	width: 100%;
}

.Nav_elem_picked{
	float: none;
	list-style-type: none;
	margin: 5px 0 5px 0;
	padding: 0;
	transition: all 0.3s ease-out;
	color: #cc0000;
	height: 20px;
	width: 100%;
}

.Nav_elem:hover{
	line-height: 25px;
	font-size: 25px;
	color: blue;
	cursor: pointer;
	margin: 5px 60px 5px 0;
	transition: all 0.5s ease-out;
}

#Main_header{
	float: right;
	width: 90%;
	margin-bottom: 20px;
}

.Nav_button{
	border-radius: 5px;
	border: 1px solid black;
	margin: 10px 0px 10px 25%;
	padding: 0;
	width: 50%;
	height: 35px;
	background: linear-gradient(#ffffff, #ddffd1 5%, #abff8c 80%);
	color: #000000;
}

.Nav_button:hover{
	cursor: pointer;
	background: linear-gradient(#abff8c, #ddffd1 5%, #ffffff 80%);
}

.Nav_button_main{
	border-radius: 5px;
	border: 1px solid black;
	margin: 10px 0px 0px 10px;
	padding: 0;
	width: 75px;
	height: 35px;
	background: linear-gradient(#ffffff, #ddffd1 5%, #abff8c 80%);
	color: #000000;
}

.Nav_button_main:hover{
	cursor: pointer;
	background: linear-gradient(#abff8c, #ddffd1 5%, #ffffff 80%);
}

#Task_list img{
	height: 200px;
	width: 300px;
	margin: 20px;
}

#logout_wrapper {
    margin-top: 150px;
}

#fixedButton {
    position: fixed;
    bottom: 30px;
    right: 30px; 
	height: 60px;
	width: 60px;
	color: #ffffff;
	font-size: 25px;
	background: #FF7042;
	border-radius: 50%;
	border-style: solid;
}

#overfixedButton {
    position: fixed;
    bottom: 90px;
    right: 30px; 
	height: 60px;
	width: 60px;
	color: #ffffff;
	font-size: 25px;
	background: #FF7042;
	border-radius: 50%;
	border-style: solid;
}

.message-bubble{
    padding: 10px 0px 10px 0px;
}

.message-bubble:nth-child(even) { 
	background-color: #F5F5F5; 
}

.message-bubble > *{
    padding-left: 10px;    
}

.panel-body { 
	padding: 0px; 
}

.panel-heading { 
	background-color: #3d6da7 !important; 
	color: white !important; 
}