html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	-moz-user-select: none;
	font-family: 'Roboto Slab', serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	cursor: default;
}

.center {
	text-align: center;
}

#Login_img {
	width: 40%;
	height: auto;
	padding: 0;
	margin: 15px 0 15px 30%;
}

.pointer:hover {
	cursor: pointer;
}

s

.Nav_elem_picked {
	float: none;
	list-style-type: none;
	margin: 5px 0 5px 0;
	padding: 0;
	transition: all 0.3s ease-out;
	color: #cc0000;
	height: 20px;
	width: 100%;
}

#Task_List {
	display: flex;
	flex-direction: column;
}

#Task_List>div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

#Task_List>div>svg {
	height: 300px;
	width: 435px;
	margin: 20px;
	margin: 5px 5px 5px 5px;
	border: 2px 2px 2px 2px;
}

#fixedButton {
	position: fixed;
	bottom: 30px;
	right: 30px;
	height: 60px;
	width: 60px;
	color: #ffffff;
	font-size: 25px;
	background: #FF7042;
	border-radius: 50%;
	border-style: solid;
}

.message-bubble {
	padding: 10px 0px 10px 0px;
	margin: 2px 0 2px 0;
	border-radius: 5px;
}

.message-bubble:nth-child(even) {
	background-color: #EEEEEE;
}

.message-bubble:nth-child(odd) {
	background-color: #32a840;
	color: white;
}

.message-bubble>* {
	padding-left: 15px;
}

.panel-body {
	padding: 0px;
}

.panel-heading {
	background-color: #3d6da7 !important;
	color: white !important;
}

.chat_user:nth-child(odd) {
	color: lightgrey;
}

.chat_user:nth-child(even) {
	color: black;
}