html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body{
	-moz-user-select: none;
	font-family: 'Roboto Slab', serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #edf2ff;
	overflow: hidden;
	cursor: default;
}


